body {
    background-color: #f8f9fa; /* Cinza claro do Bootstrap */
  }
  
  .card {
    border-radius: 15px;
    overflow: hidden;
  }
  
  .card-header {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }  